{% extends "squelette.twig" %}
{% block content %}
    <div>
        <h1>Liste des personnes</h1>
        <form id="researchTab" action="{{ url_for('home') }}" method="post">
            <select id="departement" name="departement">
                <option value="tous">Tous</option>
                {% set departments = [] %}
                {% for departement in department %}
                    {% for dep in departement %}
                        {% if dep.nom not in departments %}
                            {% set departments = departments|merge([dep.nom]) %}
                            <option value="{{ dep.nom }}"> {{ dep.nom }}</option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </select>
            <button type="submit" value="Search">Search</button>
        </form>
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Service/Département</th>
                <th>Numéro de bureau</th>
                <th>Téléphone fixe</th>
                <th>Téléphone mobile</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for personne in personnes %}
                <tr>
                    <td>{{ personne.lastName }}</td>
                    <td>{{ personne.firstName }}</td>
                    <td>
                        {% set departments = [] %}
                        {% for departement in department %}
                            {% for dep in departement %}
                                {% if dep.pivot.entree_id == personne.uuid %}
                                    {% set departments = departments|merge([dep.nom]) %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {{ departments|join(', ') }}
                    </td>
                    <td>{{ personne.numBureau }}</td>
                    <td>{{ personne.telFixe }}</td>
                    <td>{{ personne.telMobile }}</td>
                    <td>{{ personne.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
