<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webdir</title>
    <link rel="stylesheet" href="{{ base_path() }}/{{ css }}/style.css">
</head>
<body>

<header>
    <nav class="navbar">
        <a href="{{ url_for('home') }}">HOME</a>
        <a href="{{ url_for('addPersonne') }}">Ajouter personne</a>
        <a href="{{ url_for('addDepartement') }}">Gestion service/département</a>
        <a href="{{ url_for('connexion') }}">Connexion</a>
    </nav>

</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <h2>SAE</h2>
</footer>

</body>
</html>